.add-book {
    width: 80%;
    margin: auto;
    .form-container form > .bs-img-field {
        padding: 0;
        margin: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #9e9e9e;
        cursor: pointer;
        &:focus, &:hover {
            border-bottom: 1px solid #70D179;
        } 
        label {
            font-size: 1.0rem !important;
            text-transform: capitalize;
        }
        input[type=file] {
            opacity: 0;
  
            width: 100%;
            padding: 5px 0;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            outline: none;
            cursor: pointer;
            &:focus {
                border-bottom: 1px solid #70D179;
            } 
        }
    }
}