.books-grid {
    height: 100%;
    overflow: scroll;
    margin: auto;
    width: 97%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    .book {
        width: 30%;
        height: auto;
        padding: 25px 0;
        &:last-child {
            align-self: flex-start;
        }
        .book-title {
            text-transform: capitalize;
            text-align: left;
            margin: 5px auto;
            padding: 5px 1px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .book-price {
            text-align: left;
            margin: 0px auto;
            padding: 0px 1px;
            font-size: 12px;
        }
    }
}

.bs-full {
    width: 82%;
    padding: 0 5px;
}