.showcase {
    height: 100%;
    width: 100%;
    background: #76b852;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(
        rgba(0,0,0,0.87),
        rgba(0, 0, 0, 0.55)
      ), url('../../assets/images/showcase2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: snow;
    text-transform: capitalize;
    h1 {
        font-weight: 800;
    }
    // text-align: center;
}